/*Archivo de configuración css*/

/*Definiendo como se comportarán los bloques identificados como email*/
.email{
	font-family: monospace, monospace;
	text-align: center;
}

/* Definiendo como se comportaría los bloques del rostro */
.retrato{
	background-color: transparent;
	border-style: none;
	border-radius: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:30%;
}

